	<section class="screen half">
		<div class="center_block">
			<p>For support visit enduro.js on <a href="https://github.com/Gottwik/Enduro">github</a></p>
		</div>
	</section>

	<script type="text/javascript" src="./assets/js/main.js"></script>
	<script type="text/javascript" src="./assets/js/home.js"></script>
	</body>
</html>

{{!-- <script data-main="scripts/main" src="./assets/js/main.js"></script> --}}