
{{!-- @HEADER --}}
	{{>header}}
{{!-- /@HEADER--}}


		{{#with post_page}}
			<section class="screen half color1">
				<div class="center_block">
					<p class="huge">{{headline}}</p>
					<p>{{dateline}}</p>
					<p>{{post}}</p>
				</div>
			</section>
		{{/with}}




{{!-- @FOOTER --}}
	{{>footer}}
{{!-- /@FOOTER --}}
